{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false,
            }
        ],
    ],
    "plugins": [
        "transform-runtime",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        [
            "transform-react-jsx",
            {
                "pragma": "React.createElement",
                "pragmaFrag": "React.Fragment"
            }
        ]
    ],
    "parserOpts": {
        "plugins": [
            "dynamicImport"
        ]
    }
}